* {
    margin: 0;
    padding: 0;
}
body {
    background: url('./img/GuessTheNumber.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
   margin: 100px auto;
   text-align: center;
}

#text, #btn{
   font-size: 24px;
   height: 32px;
   margin:0 10px;
   border-radius: 5px;
}

#btn{
    width: 75px;
    margin-top: 40px;
}

#message{
    padding: 15px;
}


