* {
    margin: 0;
    padding: 0;
    border: 1px solid green;
}
body {
    background: url('./img/GuessTheNumber.png');
    background-size: cover;
    background-repeat: no-repeat;
}

h3, p{
    display: none;
}